@import "tailwindcss";
@theme {
    --font-vt323: "VT323", system-ui, sans-serif;
    --font-satoshi: "Satoshi", system-ui, sans-serif;

    /* UTOPIA Scales - MIN 640px / MAX 1280px / 1.2 Minor Third > 1.25 Major Third / 18px > 20px Font Size */
    
    --text-fl-xs: clamp(0.7813rem, 0.7625rem + 0.0469vw, 0.8rem);
    --text-fl-sm: clamp(0.9375rem, 0.875rem + 0.1563vw, 1rem);
    --text-fl-base: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem);
    --text-fl-lg: clamp(1.35rem, 1.1375rem + 0.5313vw, 1.5625rem);
    --text-fl-xl: clamp(1.62rem, 1.2869rem + 0.8328vw, 1.9531rem);
    --text-fl-2xl: clamp(1.944rem, 1.4466rem + 1.2435vw, 2.4414rem);
    --text-fl-3xl: clamp(2.3328rem, 1.6138rem + 1.7974vw, 3.0518rem);
    --text-fl-4xl: clamp(2.7994rem, 1.784rem + 2.5383vw, 3.8147rem);

    --spacing-fl-xs: clamp(0.875rem, 0.8125rem + 0.1563vw, 0.9375rem);
    --spacing-fl-sm: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem);
    --spacing-fl-base: clamp(1.6875rem, 1.5rem + 0.4688vw, 1.875rem);
    --spacing-fl-lg: clamp(2.25rem, 2rem + 0.625vw, 2.5rem);
    --spacing-fl-xl: clamp(3.375rem, 3rem + 0.9375vw, 3.75rem);
    --spacing-fl-2xl: clamp(4.5rem, 4rem + 1.25vw, 5rem);
    --spacing-fl-3xl: clamp(5.625rem, 5rem + 1.5625vw, 6.25rem);
    --spacing-fl-4xl: clamp(6.75rem, 6rem + 1.875vw, 7.5rem);

    --color-patina-50: oklch(0.963 0.022 164.43);
    --color-patina-100: oklch(0.926 0.046 165.06);
    --color-patina-200: oklch(0.863 0.059 165.78);
    --color-patina-300: oklch(0.795 0.055 165.99);
    --color-patina-400: oklch(0.735 0.051 166.27);
    --color-patina-500: oklch(0.668 0.046 166);
    --color-patina-600: oklch(0.582 0.041 165.56);
    --color-patina-700: oklch(0.487 0.034 165.27);
    --color-patina-800: oklch(0.401 0.027 167.3);
    --color-patina-900: oklch(0.307 0.021 165.18);
    --color-patina-950: oklch(0.265 0.018 165.51);

    --color-rust-50: oklch(0.95 0.023 24.19);
    --color-rust-100: oklch(0.909 0.042 27.05);
    --color-rust-200: oklch(0.821 0.093 29.84);
    --color-rust-300: oklch(0.731 0.154 34.22);
    --color-rust-400: oklch(0.641 0.185 38.91);
    --color-rust-500: oklch(0.538 0.155 39.04);
    --color-rust-600: oklch(0.48 0.138 38.95);
    --color-rust-700: oklch(0.418 0.12 39.33);
    --color-rust-800: oklch(0.356 0.102 39.64);
    --color-rust-900: oklch(0.293 0.084 39.16);
    --color-rust-950: oklch(0.258 0.075 38.84);

    --color-isabelline-50: oklch(0.957 0.007 67.76);
    --color-isabelline-100: oklch(0.923 0.013 63.93);
    --color-isabelline-200: oklch(0.846 0.032 67.38);
    --color-isabelline-300: oklch(0.76 0.038 67.2);
    --color-isabelline-400: oklch(0.682 0.034 65.67);
    --color-isabelline-500: oklch(0.606 0.03 69.02);
    --color-isabelline-600: oklch(0.526 0.026 67.21);
    --color-isabelline-700: oklch(0.441 0.022 69.87);
    --color-isabelline-800: oklch(0.362 0.017 67.23);
    --color-isabelline-900: oklch(0.285 0.014 67.22);
    --color-isabelline-950: oklch(0.243 0.012 67.21);

    --color-cinnamon-50: oklch(0.957 0.018 70.24);
    --color-cinnamon-100: oklch(0.915 0.038 69.85);
    --color-cinnamon-200: oklch(0.822 0.097 74.91);
    --color-cinnamon-300: oklch(0.735 0.087 75.75);
    --color-cinnamon-400: oklch(0.648 0.077 75.28);
    --color-cinnamon-500: oklch(0.559 0.066 75.6);
    --color-cinnamon-600: oklch(0.494 0.058 75.39);
    --color-cinnamon-700: oklch(0.423 0.05 75.07);
    --color-cinnamon-800: oklch(0.356 0.043 75.73);
    --color-cinnamon-900: oklch(0.295 0.035 74.73);
    --color-cinnamon-950: oklch(0.261 0.031 74.4);

    --vt323-scale: 1.25;
}

@layer base {
    h1 {
        font-size: var(--text-fl-4xl);
        line-height: 1;
    }
    h2 {
        font-size: var(--text-fl-3xl);
        line-height: 1.1;
    }
    h3 {
        font-size: var(--text-fl-2xl);
        line-height: 1.15;
    }
    h4 {
        font-size: var(--text-fl-xl);
        line-height: 1.2;
    }
    h5 {
        font-size: var(--text-fl-lg);
        line-height: 1.25;
    }
    h6 {
        font-size: var(--text-fl-base);
        line-height: 1.3;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-vt323);
        font-weight: var(--font-weight-extrabold);
        color: var(--color-cinnamon-300);
    }
    body {
        font-family: var(--font-satoshi);
        font-weight: var(--font-weight-normal);
        color: var(--color-cinnamon-400);
        font-size: var(--text-fl-base);
        line-height: 1.5;
    }

}

/* VT323 */
@font-face {
	font-family: 'VT323';
	src:  url('/fonts/VT323-Regular.woff2') format('woff2'),
        url('/fonts/VT323-Regular.woff') format('woff'),
        url('/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Satoshi */
@font-face {
	font-family: 'Satoshi';
	src:  url('/fonts/Satoshi-Variable.woff2') format('woff2'),
        url('/fonts/Satoshi-Variable.woff') format('woff'),
        url('/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

/* Satoshi Italic */
@font-face {
	font-family: 'Satoshi';
	src:  url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
        url('/fonts/Satoshi-VariableItalic.woff') format('woff'),
        url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}