@import "tailwindcss";
@theme {
    --font-heading: "Stardom", system-ui, sans-serif;
    --font-body: "General Sans", system-ui, sans-serif;

    /* UTOPIA Scales - MIN 640px / MAX 1280px / 1.2 Minor Third > 1.25 Major Third / 18px > 20px Font Size */
    
    --text-fl-xs: clamp(0.7813rem, 0.7625rem + 0.0469vw, 0.8rem);
    --text-fl-sm: clamp(0.9375rem, 0.875rem + 0.1563vw, 1rem);
    --text-fl-base: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem);
    --text-fl-lg: clamp(1.35rem, 1.1375rem + 0.5313vw, 1.5625rem);
    --text-fl-xl: clamp(1.62rem, 1.2869rem + 0.8328vw, 1.9531rem);
    --text-fl-2xl: clamp(1.944rem, 1.4466rem + 1.2435vw, 2.4414rem);
    --text-fl-3xl: clamp(2.3328rem, 1.6138rem + 1.7974vw, 3.0518rem);
    --text-fl-4xl: clamp(2.7994rem, 1.784rem + 2.5383vw, 3.8147rem);

    --spacing-fl-xs: clamp(0.875rem, 0.8125rem + 0.1563vw, 0.9375rem);
    --spacing-fl-sm: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem);
    --spacing-fl-base: clamp(1.6875rem, 1.5rem + 0.4688vw, 1.875rem);
    --spacing-fl-lg: clamp(2.25rem, 2rem + 0.625vw, 2.5rem);
    --spacing-fl-xl: clamp(3.375rem, 3rem + 0.9375vw, 3.75rem);
    --spacing-fl-2xl: clamp(4.5rem, 4rem + 1.25vw, 5rem);
    --spacing-fl-3xl: clamp(5.625rem, 5rem + 1.5625vw, 6.25rem);
    --spacing-fl-4xl: clamp(6.75rem, 6rem + 1.875vw, 7.5rem);
}

@layer base {
    h1 {
        font-size: var(--text-fl-4xl);
        line-height: 1;
    }
    h2 {
        font-size: var(--text-fl-3xl);
        line-height: 1.1;
    }
    h3 {
        font-size: var(--text-fl-2xl);
        line-height: 1.15;
    }
    h4 {
        font-size: var(--text-fl-xl);
        line-height: 1.2;
    }
    h5 {
        font-size: var(--text-fl-lg);
        line-height: 1.25;
    }
    h6 {
        font-size: var(--text-fl-base);
        line-height: 1.3;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        font-weight: var(--font-weight-extrabold);
        color: var(--color-neutral-950);
    }
    body {
        font-family: var(--font-body);
        font-weight: var(--font-weight-normal);
        color: var(--color-neutral-600);
        font-size: var(--text-fl-base);
        line-height: 1.5;
    }

}

/* Stardom */
@font-face {
	font-family: 'Stardom';
	src:  url('/fonts/Stardom-Regular.woff2') format('woff2'),
        url('/fonts/Stardom-Regular.woff') format('woff'),
        url('/fonts/Stardom-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* General Sans */
@font-face {
	font-family: 'General Sans';
	src:  url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
        url('/fonts/GeneralSans-Variable.woff') format('woff'),
        url('/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

/* General Sans Italic */
@font-face {
	font-family: 'General Sans';
	src:  url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
        url('/fonts/GeneralSans-Variable.woff') format('woff'),
        url('/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-style: italic;
    font-display: swap;
}